//Background Vegas, pero modifico class con filtro sepia
.body.vegas-container > .vegas-overlay, body.vegas-container > .vegas-slide, body.vegas-container > .vegas-timer{
    filter: sepia(50%);
}

//Main - Titulo & Introducción
main{
    padding: 10px;
    font-family: 'Prata', serif;
    font-size: 18px;
    color: white;
    text-shadow: 1px 1px 1px black;
    background-image: linear-gradient(to right, $color3, $color1, $color3);
    opacity: 0.8;
    text-align: center;
    
    h1{
        font-family: 'Prata', serif;
        font-size: 70px;
        color: white;
        background-image: linear-gradient(to right, $color4, $color1, $color4);
        opacity: 0.6;
        text-align: center;
    }    
}

// Inputs
input {
    width: auto;
    font-family: 'Prata', serif;
    font-size: 16px;
    color: $color1;
    border: 1px solid $color1;
    border-radius: 30px;
    
}
input:hover{
    box-shadow: 0 2px 4px 0 $color5, 0 2px 4px 0 $color5;
    
} 

// Contenedor de registro de usuario y juego
section{
    display: flex;
    justify-content: space-evenly;

    div{
        width: 100%;
        margin-top: 15px;
        margin-bottom: 15px;
        padding: 30px;
        font-family: 'Prata', serif;
        font-size: 18px;
        color: white;
        text-shadow: 1px 1px 1px black;
        background-image: linear-gradient(to right, $color4, $color1, $color4);
        opacity: 0.8;
        text-align: center;
    }
    form{
        display: flex;

        div{
            background-image: linear-gradient(to right, $color3, $color1, $color3);
            opacity: 0.8;
            margin: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            
        }
        input{
            width: auto;
            height: auto;
            padding: 5px;
            font-family: 'Prata', serif;
            font-size: 16px;
            color: $color5;
            text-align: center;
            background-color: $color4;
            
        }
        #input:hover{
            box-shadow: 0 2px 4px 0 $color2, 0 2px 4px 0 $color2;
            
        } 
    }
    #solucion{
        font-size: 14px;
        color: $color5;
        text-shadow:none;
        font-weight: bold;
    
    h4{
        font-size: 16px;
        font-weight: bold;
    }}
}

// Acordeon y Carrousel modificados (style georgia)
.accordion-body{
        width: 100%;
        background-color: $color1;
        opacity: 10;

    .carousel.slide {
        width: 100%;
        height: 500px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    li{
        text-align:left;
        padding: 30px;
        font-family: 'Prata', serif;
        font-size: 18px;
        color: white;
        text-shadow: 1px 1px 1px black;
        padding: 10px;
    }
        .carousel-inner{
            width: 300px;
            height: 500px;
            
        
            img{
                height: 500px;
            }
        }    
}

