@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
.body.vegas-container > .vegas-overlay, body.vegas-container > .vegas-slide, body.vegas-container > .vegas-timer {
  -webkit-filter: sepia(50%);
          filter: sepia(50%);
}

main {
  padding: 10px;
  font-family: 'Prata', serif;
  font-size: 18px;
  color: white;
  text-shadow: 1px 1px 1px black;
  background-image: -webkit-gradient(linear, left top, right top, from(#978065), color-stop(#4e4638), to(#978065));
  background-image: linear-gradient(to right, #978065, #4e4638, #978065);
  opacity: 0.8;
  text-align: center;
}

main h1 {
  font-family: 'Prata', serif;
  font-size: 70px;
  color: white;
  background-image: -webkit-gradient(linear, left top, right top, from(#a9a283), color-stop(#4e4638), to(#a9a283));
  background-image: linear-gradient(to right, #a9a283, #4e4638, #a9a283);
  opacity: 0.6;
  text-align: center;
}

input {
  width: auto;
  font-family: 'Prata', serif;
  font-size: 16px;
  color: #4e4638;
  border: 1px solid #4e4638;
  border-radius: 30px;
}

input:hover {
  -webkit-box-shadow: 0 2px 4px 0 #252322, 0 2px 4px 0 #252322;
          box-shadow: 0 2px 4px 0 #252322, 0 2px 4px 0 #252322;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

section div {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 30px;
  font-family: 'Prata', serif;
  font-size: 18px;
  color: white;
  text-shadow: 1px 1px 1px black;
  background-image: -webkit-gradient(linear, left top, right top, from(#a9a283), color-stop(#4e4638), to(#a9a283));
  background-image: linear-gradient(to right, #a9a283, #4e4638, #a9a283);
  opacity: 0.8;
  text-align: center;
}

section form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section form div {
  background-image: -webkit-gradient(linear, left top, right top, from(#978065), color-stop(#4e4638), to(#978065));
  background-image: linear-gradient(to right, #978065, #4e4638, #978065);
  opacity: 0.8;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

section form input {
  width: auto;
  height: auto;
  padding: 5px;
  font-family: 'Prata', serif;
  font-size: 16px;
  color: #252322;
  text-align: center;
  background-color: #a9a283;
}

section form #input:hover {
  -webkit-box-shadow: 0 2px 4px 0 #756953, 0 2px 4px 0 #756953;
          box-shadow: 0 2px 4px 0 #756953, 0 2px 4px 0 #756953;
}

section #solucion {
  font-size: 14px;
  color: #252322;
  text-shadow: none;
  font-weight: bold;
}

section #solucion h4 {
  font-size: 16px;
  font-weight: bold;
}

.accordion-body {
  width: 100%;
  background-color: #4e4638;
  opacity: 10;
}

.accordion-body .carousel.slide {
  width: 100%;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.accordion-body li {
  text-align: left;
  padding: 30px;
  font-family: 'Prata', serif;
  font-size: 18px;
  color: white;
  text-shadow: 1px 1px 1px black;
  padding: 10px;
}

.accordion-body .carousel-inner {
  width: 300px;
  height: 500px;
}

.accordion-body .carousel-inner img {
  height: 500px;
}
/*# sourceMappingURL=style.css.map */